.color {
  &-theme {
    color: $theme !important;
  }

  &-theme-secondary {
    color: $theme-secondary !important;
  }

  &-theme-accent {
    color: $theme-accent !important;
  }

  &-text {
    color: $theme-text !important;
  }

  &-text-dark {
    color: $theme-black !important;
  }

  &-gray {
    color: $theme-gray !important;
  }

  &-white {
    color: #fff !important;
  }
}

.bg-color {
  &-theme-primary {
    background-color: $theme !important;
  }

  &-theme-secondary {
    background-color: $theme-secondary !important;
  }

  &-theme-accent {
    background-color: $theme-accent !important;
  }

  &-text {
    background-color: $theme-text !important;
  }

  &-text-dark {
    background-color: $theme-black !important;
  }

  &-gray {
    background-color: $theme-gray !important;
  }

  &-white {
    background-color: #fff !important;
  }

  &-black {
    background-color: $theme-black !important;
  }
}

.heading {
  font-family: $font;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 20px;
  text-transform: capitalize;

  @media (max-width: 991px) {
    font-size: 28px;
    line-height: 42px;
  }

  &-sub {
    color: $theme;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &-underline {
    position: relative;
    width: 224px;
    height: 2px;
    background-color: #dedede;
    margin-top: 30px;
    margin-bottom: 20px;

    &::before {
      content: "";
      @include absoltopcenter;
      left: 0;
      width: 112px;
      height: 4px;
      background-color: $theme;
    }
  }
}

.text-center .heading-underline {
  width: 336px;
  @include margin-auto;
}

.text-center .heading-underline::before {
  @include absolcenter;
}


.icon-tags {
  margin-bottom: 32px;

  span,
  a {
    font-size: 14px;
    font-weight: 800;
    display: inline-block;
    color: rgba(#000, .68);

    &:not(:last-child) {
      margin-right: 25px;
    }

    img {
      width: 14px;
      margin-right: 10px;
    }
  }
}

.section-divider {
  width: 100%;
  height: 30px;
  background-color: #fff;
}

.imgfit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.max-width {
  &--100 {
    max-width: 100px;
  }

  &--150 {
    max-width: 150px;
  }

  &--200 {
    max-width: 200px;
  }

  &--250 {
    max-width: 250px;
  }

  &--300 {
    max-width: 300px;
  }

  &--350 {
    max-width: 350px;
  }

  &--400 {
    max-width: 400px;
  }

  &--450 {
    max-width: 450px;
  }

  &--500 {
    max-width: 500px;
  }

  &--550 {
    max-width: 550px;
  }

  &--600 {
    max-width: 600px;
  }

  &--650 {
    max-width: 650px;
  }

  &--700 {
    max-width: 700px;
  }

  &--750 {
    max-width: 750px;
  }

  &--800 {
    max-width: 800px;
  }

  &--850 {
    max-width: 850px;
  }

  &--900 {
    max-width: 900px;
  }

  &--950 {
    max-width: 950px;
  }

  &--1000 {
    max-width: 1000px;
  }

  &--1050 {
    max-width: 1050px;
  }

  &--1100 {
    max-width: 1100px;
  }

  &--1150 {
    max-width: 1150px;
  }

  &--1200 {
    max-width: 1200px;
  }

  &--1250 {
    max-width: 1250px;
  }

  &--1300 {
    max-width: 1300px;
  }

  &--1350 {
    max-width: 1350px;
  }

  &--1400 {
    max-width: 1400px;
  }
}

.content-card {
  padding: 22px 30px 35px 30px;
  background-color: $theme-gray;

  .title {
    display: flex;

    .icon {
      flex: 0 0 60px;
      max-width: 60px;
      height: 60px;
      background-color: $theme;
      padding: 12px;

      img {
        width: 100%;
        filter: brightness(0) invert(1);
      }
    }

    h3 {
      font-size: 26px;
      line-height: 1.2;
      font-weight: 600;
      flex: auto;
      padding-left: 15px;
    }
  }

  p {
    color: $theme-black;
    font-family: $font;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
  }

  h4 {
    color: $theme-black;
    font-family: $font;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: .1px;
    margin-bottom: 10px;

    &::before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-right: 10px;
      vertical-align: middle;
      background-color: $theme;
    }
  }
}

.list-ticks {
  padding-left: 0;
  list-style-type: none;

  >li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;

    @media (max-width: 991px) {
      font-size: 14px;
    }

    &::before {
      color: $theme;
      content: "\f058";
      font-family: $font-awesome;
      font-size: 75%;
      font-weight: 700;
      position: absolute;
      top: 4px;
      left: 0;
    }
  }
}

.qual-card {
  padding: 35px 25px 30px;
  color: #fff;
  background-color: $theme;

  @media (max-width: 991px) {
    padding: 25px 20px;
  }

  h3 {
    font-size: 32px;
    font-weight: 700;

    @media (max-width: 991px) {
      display: flex;
      flex-flow: column;
      font-size: 24px;
    }

    img {
      width: 45px;
      filter: brightness(0) invert(1);
      vertical-align: middle;
      margin-right: 10px;

      @media (max-width: 991px) {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.qual-banner {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: $theme;
  padding: 30px 80px;
  margin: 50px -80px 0;

  .icon {
    flex: 0 0 60px;
    max-width: 60px;

    img {
      width: 100%;
    }
  }

  .content {
    flex: 0 0 calc(100% - 60px);
    max-width: calc(100% - 60px);
    padding-left: 40px;

    h3 {
      font-size: 26px;
      font-weight: 600;
    }

    p {
      color: #fff;
      font-size: 90%;
    }
  }
}

.post {
  &-title {
    font-family: $font;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &-img {
    position: relative;
    margin: 15px 0;

    &-md {
      height: 250px;
    }

    &-lg {
      height: 420px;
    }

    img {
      @include imgfit;
    }
  }

  &-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin: 40px 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-notice {
    padding: 40px;
    margin: 40px 0;
    border-left: 5px solid $theme;
    background-color: $theme-gray;

    &-title {
      color: $theme;
      position: relative;
      font-family: $font;
      font-size: 25px;
      font-weight: 700;
      padding-left: 60px;
      margin-bottom: 20px;

      &::before {
        content: "";
        @include absoltopcenter;
        left: 0;
        width: 45px;
        height: 3px;
        background-color: $theme;
      }
    }
  }

  &-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 30px 0;
    border-top: 1px solid rgba(#000, .15);

    &-prev,
    &-next {
      position: relative;
      width: 50%;

      a {
        display: block;
      }

      span {
        display: block;
        font-size: 14px;
        margin-bottom: 0;
      }

      h5 {
        font-size: 20px;
        font-weight: 400;
      }

      @media (max-width: 767px) {
        height: 40px;

        span,
        h5 {
          display: none
        }
      }
    }

    &-icon {
      @include absoltopcenter;
      display: block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border: 1px solid #000;
      border-radius: 50%;

      img {
        @include absolcenter;
        width: 50%;
        filter: brightness(0);
      }

      &,
      img {
        transition: all .3s ease-out;
      }
    }

    a:hover &-icon {
      background-color: $theme;
      border-color: $theme;

      img {
        filter: brightness(0) invert(1);
      }
    }

    &-prev {
      padding-left: 60px;
    }

    &-prev &-icon {
      left: 0;
    }

    &-next {
      padding-right: 60px;
      text-align: right;
    }

    &-next &-icon {
      right: 0;
    }

    @media (max-width: 767px) {

      &-prev,
      &-next {
        padding: 0 10px;
      }

      &-prev {
        text-align: right;
      }

      &-next {
        text-align: left;
      }

      &-icon {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        transform: none;
      }

      &-prev &-icon {
        margin-left: auto;
      }
    }
  }
}

.tags {
  span {
    display: inline-block;
    margin-bottom: 10px;

    a {
      display: inline-block;
      padding: 6px 12px;
      color: $theme-black;
      background-color: $theme-gray;
      border: 1px solid $theme-gray;
      border-radius: 4px;

      &:hover {
        color: #fff;
        background-color: $theme;
      }
    }


    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.entry {
  &-title {
    margin-bottom: 20px;
  }

  &-body {
    p {
      @media (min-width: 992px) {
        line-height: 32px;
      }
    }
  }

  &-footer {
    margin: 40px 0;

    @media (max-width: 767px) {
      [class^="col-"] {
        margin-bottom: 20px;
      }
    }
  }

  &-social {
    &-item {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      text-align: center;
      color: #fff;
      background-color: $theme;
      border-radius: 4px;

      &:not(:last-child) {
        margin-right: 5px;
      }

      a {
        display: block;

        &:hover {
          color: #fff;
        }
      }


      &-facebook {
        color: #fff;
        background: linear-gradient(to right, #315297, #4666b3);
      }

      &-instagram {
        color: #fff;
        background: radial-gradient(circle at 30% 107%, #fdf497 0, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
      }

      &-whatsapp {
        color: #fff;
        background: linear-gradient(to right, #44c054, #40bc50);
      }
    }
  }
}

.content-wrapper {
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 25px;
    }
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      position: relative;
      padding-left: 20px;
      font-size: 16px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
        border: 3px solid $theme;
        background-color: transparent;
      }
    }
  }

}

.pagination-wrap {
  text-align: center;
  margin-top: 30px;

  .pagination {
    display: inline-flex;
    background-color: $theme-accent;
    box-shadow: 0 0 6px rgba(#000, .15);
  }
}

.page-item {

  .page-link {
    color: $theme;

    &:hover {
      background-color: $theme-accent;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &.active .page-link {
    background-color: $theme;
  }
}