.form-control {
    font-family: $font;
    padding: 13px 20px;
    height: 48px;
    border-radius: 0;

    &::placeholder {
        color: rgba($theme-black, .8);
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &:focus {
        border-color: transparent;
        box-shadow: 0 0 9px rgba($theme, .25);
    }
}

textarea {
    min-height: 120px;
}