.footer {
    color: #fff;
    background-color: $theme-black;
    overflow: hidden;

    .logo-img {
        max-width: 280px;
        margin-top: 150px;
        margin-bottom: 50px;
        padding-right: 30px;

        @media (max-width: 991px) {
            margin-top: 30px;
        }

        img {
            max-width: 100%;
            filter: brightness(0) invert(1);
            transition: all .4s ease-out;
        }

    }

    &-top {
        [class^="col-"]:first-child {
            @media (max-width: 991px) {
                padding: 40px 55px;
            }

            .logo-img:hover img {
                filter: none;
            }
        }
    }

    &-box {
        z-index: 1;
        position: relative;
        height: 100%;
        padding: 120px 80px 120px 120px;

        @media (max-width: 991px) {
            padding: 40px;
        }

        &-bg {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            width: 70vw;
            height: 100%;

            &::after {
                content: "";
                @include absoldefault;
                background-color: $theme-black;
                mix-blend-mode: multiply
            }

            img {
                @include imgfit;
            }
        }

        .navigation {
            margin: 0px 0 30px;

            @media (max-width: 991px) {
                margin: 0 -10px 20px;
            }
        }

        .nav-list {
            >li {
                >a {
                    font-size: 20px;
                }
            }

            @media (max-width: 991px) {
                margin-left: 0;
                align-items: flex-start;
                justify-content: flex-start;
                max-width: 100%;

                >li {
                    width: auto;
                    text-align: left;

                    &:not(:last-child) {
                        margin-right: 15px;
                    }

                    >a {
                        padding: 0;
                    }
                }
            }
        }

        .infoboxes {
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        .infobox {
            flex: 0 0 50%;
            max-width: 50%;
            margin-bottom: 20px;

            @media (max-width: 567px) {
                flex: 0 0 100%;
                max-width: 100%;
            }

            .media {
                flex: 0 0 55px;
                max-width: 55px;
                padding: 10px;
                border: 2px solid $theme;
            }

            .text {
                flex: 0 0 calc(100% - 55px);
                max-width: calc(100% - 55px);

                p {
                    color: #fff;
                    opacity: .75;
                }

                a,
                span {
                    color: #fff;
                }

                a:hover {
                    color: $theme-accent;
                }
            }
        }
    }

    &-bot {
        padding: 20px 0;
        background-color: #000;

        p {
            font-family: $font;
            font-size: 15px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 0;
        }

        a {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }

        img {
            height: 20px;
            filter: brightness(0) invert(1);
        }
    }
}