.header {
    z-index: 99;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transition: all .4s ease-out;

    &.header-fixed {
        @media (max-width: 991px) {
            position: fixed;
            top: 0;
            box-shadow: 0 2px 6px rgba(#000, 0.15);
        }

        @media (min-width: 992px) {
            .header-bot {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                box-shadow: 0 2px 6px rgba(#000, 0.15);
            }
        }
    }

    @media (max-width: 991px) {}

    .logo {
        width: 280px;
        max-width: 100%;

        img {
            width: 100%;
        }
    }

    .nav-list {
        >li {
            &:last-child {
                margin-left: auto;

                @media (max-width: 991px) {
                    text-align: center;
                }

                >a {
                    color: #fff;
                    font-weight: 500;
                    line-height: normal;
                    padding: 12px 35px;
                    text-transform: uppercase;
                    background-color: $theme;
                    background: linear-gradient(to right, $theme 50%, #fff 50%);
                    background-size: 201% 100%;
                    background-position-x: 0%;
                    background-repeat: no-repeat;
                    border: 2px solid $theme;

                    &::after {
                        content: "\f30b";
                        font-family: $font-awesome;
                        font-size: 20px;
                        font-weight: 700;
                        margin-left: 10px;
                    }

                }

                &.active a,
                a:hover {
                    color: $theme;
                    background-position-x: 100%;
                    box-shadow: 0 0 6px -2px rgba(#000, .25);
                }

                &.active a::before {
                    display: none;
                }
            }
        }
    }

    &-top {
        padding: 25px 0;

        .nav-toggle {
            width: 50px;

            img {
                width: 100%;
            }
        }

        @media (max-width: 991px) {
            [class^="col-"]:first-child {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &-bot {
        background-color: #fff;
        border-top: 1px solid rgba(#000, .1);

        @media (max-width: 991px) {
            z-index: 99;
            position: fixed;
            top: 0;
            left: 0;
            width: 350px;
            height: 100%;
            background-color: #fff;
            border-top: 0;
            transition: all .4s ease-out;

            &:not(.active) {
                left: -100%;
            }

            .container {
                z-index: 1;
                position: relative;
                height: 100%;
                padding: 0;
                background-color: #fff;
            }
        }
    }
}

.infoboxes {
    display: flex;
    justify-content: flex-end;
}

.infobox {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        padding-right: 20px;
    }

    .media {
        flex: 0 0 35px;
        max-width: 35px;

        img {
            width: 100%;
        }
    }

    .text {
        flex: auto;
        padding-left: 12px;

        p {
            color: $theme-lightblack;
            font-size: 15px;
            margin-bottom: 0;
        }

        a,
        span {
            color: $theme-black;
            font-family: $font;
            font-size: 16px;
            font-weight: 500;
        }

        a {
            &:hover {
                color: $theme;
            }

            &+a {
                margin-left: 5px;
            }
        }
    }
}