.navigation {}

.nav-toggle {
    padding: 0px;
    cursor: pointer;
    background-color: transparent;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
    background-color: $theme;

    h3 {
        font-family: $font;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 0;
    }

    .nav-toggle {
        width: 40px;

        img {
            width: 100%;
            filter: brightness(0) invert(1);
        }
    }
}

.nav-list {
    display: flex;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;

    @media (max-width: 991px) {
        flex-wrap: wrap;
        padding: 20px;
        max-width: 350px;
        @include margin-auto;
        max-height: calc(100vh - 80px);
        overflow-y: auto;
    }

    >li {
        @media (max-width: 991px) {
            width: 100%;
        }

        &:not(:last-child) {
            @media (min-width: 992px) {
                margin-right: 40px;
            }

            @media (max-width: 991px) {
                margin-bottom: 15px;
            }
        }

        >a {
            position: relative;
            font-family: $font;
            font-size: 18px;
            font-weight: 600;
            display: inline-block;
            line-height: 85px;

            @media (max-width: 991px) {
                font-size: 20px;
                line-height: normal;
                padding: 5px 10px 5px 20px;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 0%;
                height: 3px;
                background-color: $theme;
                transition: all .3s ease-out;

                @media (max-width: 991px) {
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    width: 5px;
                    height: 0%;
                }
            }
        }

        &.has-submenu {
            position: relative;
            padding-right: 25px;
            cursor: pointer;

            &::after {
                content: "\f107";
                font-family: $font-awesome;
                font-size: 17px;
                font-weight: 700;
                position: absolute;
                top: 12px;
                right: 20px;

                @media (min-width: 992px) {
                    @include absoltopcenter;
                    right: 8px;
                }
            }

            ul {
                min-width: 320px;
                padding-left: 0;
                list-style-type: none;
                background-color: #fff;
                border-top: 2px solid $theme;
                border-bottom: 5px solid $theme;
                box-shadow: 0 0 2px 0 rgba(#000, 0.2);
                transition: all .3s ease;

                @media (max-width: 991px) {
                    display: none;
                }

                @media (min-width: 992px) {
                    position: absolute;
                    top: 100%;
                    transform: scaleY(0);
                    transform-origin: 0 0;
                    visibility: hidden;
                }

                >li {
                    line-height: normal;

                    >a {
                        display: block;
                        padding: 10px;

                        &::before {}

                        &:hover {
                            color: #fff;
                            background-color: $theme;
                        }
                    }
                }
            }

            @media (min-width: 992px) {
                &:hover ul {
                    transform: scaleY(1);
                    visibility: visible;
                }
            }
        }

        &.active {
            >a {
                color: $theme;

                &::before {
                    width: 100%;

                    @media (max-width: 991px) {
                        width: 5px;
                        height: 100%;
                    }
                }
            }
        }

    }
}

.nav-bg {
    @media (max-width: 991px) {
        z-index: 98;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(#000, 0.5);
        cursor: pointer;
    }
}